/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html {
  font-size: 62.5%;
}
.container {
  max-width: 840px;
  width: 100%;
  margin: 0 auto;
  font-size: 1.6rem;
}
header {
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;
}
@media (max-width: 500px) {
  header {
    justify-content: center;
    align-content: center;
  }
}
header nav a {
  margin-left: 3rem;
  text-decoration: none;
  color: lightseagreen;
  border: 1px dashed pink;
}
.main-content #top {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2.5rem auto;
  background-color: lightcoral;
}
.main-content #top .intro {
  width: 100%;
  margin: 1% 1%;
  padding: 15px;
  display: flex;
  flex-direction: column;
}
.main-content #top .intro h1 {
  width: 100%;
  font-size: 6.5rem;
  margin: 3rem 0;
  text-align: center;
}
.main-content #top .intro h2 {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 2rem;
}
.main-content #top .intro p {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2rem;
}
.main-content #top .intro button {
  display: flex;
  justify-content: center;
  background-color: lightseagreen;
  color: white;
  text-decoration: none;
  padding: 2rem 2rem;
  border-radius: 10px;
  margin: 1.5rem auto;
  font-size: 3rem;
}
.main-content #top .photo {
  display: flex;
  justify-content: center;
  width: 70%;
}
@media (max-width: 500px) {
  .main-content #top .photo {
    display: none;
  }
}
.main-content #top .photo img {
  display: flex;
  justify-content: center;
  width: 70%;
}
@media (max-width: 500px) {
  .main-content #top .photo img {
    display: none;
  }
}
.main-content #middle {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 2.5rem auto;
  background-color: lightseagreen;
}
.main-content #middle h2 {
  font-size: 4.5rem;
  font-weight: bold;
  margin: 2.7rem 0 1rem 1rem;
}
.main-content #middle .skills {
  width: 50%;
  padding-left: 2rem;
  padding-bottom: 3rem;
}
.main-content #middle .skills ul {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
}
.main-content #middle .skills ul li {
  padding: 1rem 0;
  font-size: 3rem;
}
.main-content #middle .ob {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.main-content #middle .ob p {
  font-size: 3rem;
  padding-top: 2rem;
}
.main-content #bottom {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 2.5rem auto;
  background-color: lightcyan;
}
.main-content footer {
  max-width: 100%;
  width: 100%;
  display: flex;
  margin: 2.5rem auto;
  padding: 1.5rem;
  justify-content: center;
  background-color: lightgrey;
  color: lightseagreen;
}
